<div id="publications">
  <div class="item-publication" *ngFor="let publication of publications">
    <div class="image-user pull-left">
      <a href="#">
        <img src="{{ url+'get-image-user/'+publication.user.image }}" *ngIf="publication.user.image"/>
        <img src="assets/user.jpg" *ngIf="!publication.user.image" class="avatar-default"/>
      </a>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="">

          <span class="user-name">
            {{publication.user.name + ' ' +publication.user.surname}} &nbsp;|&nbsp;
          </span>
          <span class="date">
            {{ (publication.created_at | amFromUnix ) | amLocale: 'es' | amTimeAgo}}
          </span>
      </div>
      <h4 class="publication-text pull-left">
        {{publication.text}}
      </h4>
    </div>
    </div>
  </div>
</div>


<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
  <p>
    <button class="btn btn-primary" (click)="viewMore()" *ngIf="!noMore">
      Ver más publicaciones
    </button>
  </p>
</div>
